/** BASE css **/

html {
	-webkit-tap-highlight-color: transparent;
}

body {
	background: $white;
	color: $text-color;
	font-family: $main-font;
	font-size: $base-font-size + px;
	line-height: 1.6;
	-webkit-text-stroke: rgba(255,255,255,0.01) 0.1px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	@include breakpoint(desktop) {
		font-size: 15px;
	};
}

body.loaded {
	overflow-y: auto;
}
//Bootstrap column gutter width decreased for mobile view

.row {
	@include breakpoint(mobile) {
		margin-left: -8px;
		margin-right: -8px;
	}

	& *[class*="col-"] {
		@include breakpoint(mobile) {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

.input {
	background: $white;
	border: 1px solid transparent;
	@include border-radius(2px);
	color: $dark-grey;
	font-size: em(10);
	height: 34px;
	@include letter-spacing(100);
	padding: 0 15px;
	margin: 0 0 20px;
	text-transform: uppercase;
	@include transition;
	@include placeholder {
		color: $grey;
	}
	@include breakpoint(normal) {
		padding: 0 10px;
	}

	&:focus {
		border-color: $primary-color;
	}

	&.inputSmall {
		width: 90px;
	}
}

select.input {
	@include appearance(none);
	background: #fff url("../images/caret-down.svg");
	background-position: right 14px center;
	background-size: 8px 6px;
	background-repeat: no-repeat;
	padding-right: 25px;
}

textarea.input {
	height: 80px;
	padding: 10px 15px;
	resize: none;
}

.submitBtn,
.wpcf7-submit {
	background: $dark-grey;
	border: 1px solid $white;
	@include border-radius(2px);
	color: $white;
	cursor: pointer;
	font-size: em(14);
	height: 35px;
	line-height: 1;
	min-width: 125px;
	padding: 0 15px;
	text-transform: uppercase;
	width: auto;
	@include transition;

	&:hover {
		background: $primary-color;
	}
}

button,
input[type="submit"],
.submitBtn {
	&:active {
		@include box-shadow(inset 0 0 15px rgba(0, 0, 0, 0.08));
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.7;
		@include box-shadow(inset 0 0 5px rgba(241, 241, 241, 0.47));
	}
}

.noPaddingRow {
	margin: 0;

	& *[class*="col-"] {
		padding: 0;
	}
}

.btn {
	@include btn;
	border-radius: 30px;

	&.large-btn {
		font-size: em(22);
		padding-left: em(30);
		padding-right: em(30);
		line-height: 2.9;
		border-radius: 50px;
		@include breakpoint(desktop) {
			font-size: em(18);
		};
	}

	&.normal-btn {
		font-size: em(18);
		padding-left: em(30);
		padding-right: em(30);
		line-height: 2.9;
		border-radius: 50px;
		@include breakpoint(desktop) {
			font-size: em(16);
		};
	}

	&.green-btn {
		background: $primary-color;
		color: #fff;

		svg {
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			width: 16px;
			height: 16px;
			fill: #fff;
			position: relative;
			top: -1px;
		}

		&:focus,
		&:hover {
			background: $secondary-color;
			color: #fff;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	&.gray-btn {
		background: #e3e3e3;
		color: #000;

		&:focus,
		&:hover {
			background: $secondary-color;
			color: #fff;
		}
	}

	&.white-btn {
		border-radius: 40px;
		border: solid 1px $primary-color;
		color: #000;
		font-size: em(16);
		line-height: 2.2;
		padding-right: 25px;
		padding-left: 25px;
		@include breakpoint(desktop) {
			font-size: em(14);
		};

		&:focus,
		&:hover {
			background: $primary-color;
			color: #fff;
		}
	}
}

.custom-btn-group {
	.btn {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: auto;

		&:last-child {
			margin-right: 0;
		}
	}
}

.section,
section {
	padding: 80px 0;
	@include breakpoint(desktop) {
		padding: 60px 0;
	};

	h2 {
		font-size: em(26);
		font-weight: 400;
		color: #000;
		line-height: 1.5;
		letter-spacing: 0.02em;
		margin: 0;

		&:after {
			display: block;
			content: "";
			height: 2px;
			width: 66px;
			background: $primary-color;
			margin: em(5) 0 em(20);
		}
	}

	.heading {
		position: relative;

		h2 {
			font-size: em(36);
			font-weight: 500;
			letter-spacing: 0.03em;
			margin-bottom: em(25);
			text-align: center;

			&:after {
				display: none;
			}

			small {
				display: block;
				text-align: center;
				font-size: 15px;
				color: #6a6a6a;
				margin-top: 10px;
			}
		}

		.btn {
			position: absolute;
			top: 8px;
			right: 0;
		}
	}

	p {
		font-size: em(15);
		letter-spacing: 0.02em;
		line-height: 1.8;
		margin-bottom: em(20);
	}
}

.bread-crumbs {
	display: block;
	padding-top: 20px;
	margin-bottom: -46px;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			vertical-align: middle;
			font-size: em(15);
			font-weight: 400;
			color: #8c8c8c;

			a {
				color: #000;

				&:focus,
				&:hover {
					color: $secondary-color;
				}
			}

			&:after {
				content: "/";
				display: inline-block;
				margin: 0 4px;
				vertical-align: middle;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
}

form {
	.form-group {
		margin-bottom: 12px;

		label {
			font-size: em(16);
			color: #3c3c3c;
			letter-spacing: 0.02em;

			sup {
				color: #f00;
			}

			&.error {
				display: block;
				margin: 9px 0 0;
				border: solid 1px #f00;
				padding: 4px 15px;
				font-size: 13px;
				color: #5a0000;
				background: rgba(255, 0, 0, 0.66);
			}
		}

		.form-control {
			border: solid 1px #dedede;
			border-radius: 0;
			box-shadow: none;
			padding: 1px 15px 3px;
			font-size: em(16);
			letter-spacing: 0.02em;
			color: #000;
			height: 42px;
			@include placeholder {
				color: #979797;
			};

			&.k-datepicker {
				box-sizing: border-box;
				padding: 0;

				.k-picker-wrap.k-state-default {
					background: transparent;
					border: none;

					.k-icon.k-i-calendar {
						font: 16px/1 FontAwesome;

						&:before {
							content: "\f073";
						}
					}
				}

				.form-control {
					width: 100%;
					border: none;
					height: 40px;
					padding: 0 0 0 7px;
					text-align: left;
				}
			}

			&.error {
				border-color: #f00;
			}

			&:focus {
				border-color: $primary-color;
			}
		}

		select.form-control,
		select.form-control:not([size]):not([multiple]) {
			background: #fff url("../images/select-arrow.png") no-repeat;
			background-position: 100% 50%;
			padding: 1px 30px 3px 15px;
			min-width: 115px;
			font-size: em(16);
			letter-spacing: 0.02em;
			color: #000;
			height: 42px;
		}
	}

	.my-checkbox-group {
		input[type="checkbox"] {
			position: absolute;
			visibility: hidden;
			pointer-events: none;
			opacity: 0;
			top: 0;
			left: 0;
		}

		label {
			display: block;
			font-size: em(15);
			cursor: pointer;
			position: relative;
			padding-left: 30px;
			color: #000;

			a {
				text-decoration: underline;
				text-decoration-color: $primary-color;

				&:focus,
				&:hover {
					color: $secondary-color;
					text-decoration-color: transparent;
				}
			}

			span.my-custom-checkbox {
				width: 22px;
				height: 20px;
				border: solid 2px #c4c4c4;
				border-radius: 4px;
				background: #fff;
				position: absolute;
				top: 1px;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			input[type="checkbox"]:checked + span.my-custom-checkbox {
				border-color: $primary-color;
				line-height: 19px;

				&:before {
					content: "\f00c";
					font: normal normal normal 14px/1 FontAwesome;
					color: $primary-color;
				}
			}
		}
	}

	.my-radio-group {
		input[type="radio"] {
			position: absolute;
			visibility: hidden;
			pointer-events: none;
			opacity: 0;
			top: 0;
			left: 0;
		}

		label {
			display: inline-block;
			margin-right: 25px;
			font-size: em(15);
			cursor: pointer;
			position: relative;
			padding-left: 30px;
			color: #979797;

			&:last-child {
				margin-right: 0;
			}

			a {
				text-decoration: underline;
				text-decoration-color: $primary-color;

				&:focus,
				&:hover {
					color: $secondary-color;
					text-decoration-color: transparent;
				}
			}

			span.my-radio-checkbox {
				width: 16px;
				height: 16px;
				border: solid 2px #c4c4c4;
				border-radius: 100%;
				background: #fff;
				position: absolute;
				top: 4px;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			input[type="radio"]:checked + span.my-radio-checkbox {
				border-color: $primary-color;
				line-height: 19px;

				&:before {
					content: "";
					position: absolute;
					top: 2px;
					bottom: 2px;
					left: 2px;
					right: 2px;
					border-radius: 100%;
					background: $primary-color;
				}
			}
		}
	}
}

.owl-nav {
	.owl-next,
	.owl-prev {
		font-size: 0;
		position: absolute;
		top: 40%;
		transform: translateY('-50%');

		&:before {
			content: "";
			font: normal normal normal 60px/1 FontAwesome;
			color: #959595;
			@include transition;
		}

		&:hover {
			&:before {
				color: $primary-color;
			}
		}
	}

	.owl-prev {
		left: -40px;

		&:before {
			content: "\f104";
		}
	}

	.owl-next {
		right: -40px;

		&:before {
			content: "\f105";
		}
	}
}
/*
 * jQuery FlexSlider v2.7.1
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
	outline: none;
}

.flex-control-nav,
.flex-direction-nav,
.slides,
.slides > li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex-pauseplay span {
	text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

.flexslider {
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .flexslider .slides {
	display: block;
}

* html .flexslider .slides {
	height: 1%;
}

.no-js .flexslider .slides > li:first-child {
	display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
	margin: 0 0 20px;
	background: #fff;
	border: 4px solid #fff;
	position: relative;
	zoom: 1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
	zoom: 1;
}

.flexslider .slides img {
	height: auto;
	-moz-user-select: none;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
	max-height: 300px;
}
@-moz-document url-prefix() {
	.loading .flex-viewport {
		max-height: none;
	}
}

.carousel li {
	margin-right: 5px;
}

.flex-direction-nav {
	*height: 0;
}

.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 40px;
	height: 51px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}

.flex-direction-nav a:before {
	font-family: "flexslider-icon";
	font-size: 40px;
	display: inline-block;
	content: '\f001';
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before {
	content: '\f002';
}

.flex-direction-nav .flex-prev {
	left: -50px;
}

.flex-direction-nav .flex-next {
	right: -50px;
	text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 0.7;
	left: 10px;
	pointer-events: auto;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
	opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: 10px;
	pointer-events: auto;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}

.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
	z-index: -1;
}

.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}

.flex-pauseplay a:before {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}

.flex-pauseplay a:hover {
	opacity: 1;
}

.flex-pauseplay a.flex-play:before {
	content: '\f003';
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	cursor: default;
}

.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: 0.7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: 10px;
	}

	.flex-direction-nav .flex-next {
		opacity: 1;
		right: 10px;
	}
}
//Custom Model

.popup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.71);
	text-align: center;
	z-index: 9999;
	overflow: hidden;
	overflow-y: scroll;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		margin-right: -4px;
		vertical-align: middle;
	}

	.popup-inner {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
		position: relative;
		max-width: 510px;
		width: 90%;
		padding: 40px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.01);
		border-radius: 0;
		background: #fff;
		text-align: center;
		margin: 50px auto;

		h5 {
			text-align: left;
			margin-bottom: 30px;
		}

		label {
			margin-bottom: 0;
		}

		.btn {
			width: auto;
		}

		table {
			table-layout: auto;
			border: solid 1px #dbdbdb;
			width: 100%;

			td,
			th {
				font-size: em(15);
				color: #000;
				padding: 12px 25px;
				font-weight: 400;
			}

			th {
				font-weight: 500;
				background: #f5f5f5;
			}

			td {
				border-bottom: solid 1px #dbdbdb;

				.table-links {
					color: #a2a2a2;
					margin-right: 15px;

					&:last-child {
						margin-right: 0;
					}

					&:hover {
						color: $secondary-color;
					}
				}
			}

			tr {
				&:last-child {
					td {
						border-bottom: none;
					}
				}
			}

			.blue-btn {
				background: #08a6c3;
			}

			.green-btn {
				background: #60c400;
			}

			.pink-btn {
				background: #fe195e;
			}

			.btn {
				color: #fff;
				line-height: 2.1;
				padding: 2px 25px;

				&:focus,
				&:hover {
					background: $secondary-color;
					color: #fff;
				}
			}
		}

		ul.the_champ_login_ul li {
			float: none;
			width: 100% !important;
			margin-bottom: 15px !important;

			&:last-child {
				margin-bottom: 0 !important;
			}

			.theChampLogin {
				padding: 0 !important;
				margin: 0 !important;
				height: auto !important;
				width: 100% !important;
				float: none !important;
				display: block;
				border-radius: 60px;

				.theChampFacebookLoginSvg,
				.theChampGoogleLoginSvg {
					display: inline-block;
					padding: 0 15px 2px;
					border-radius: 0;
					box-shadow: none;
					text-transform: capitalize;
					font-family: "Poppins", sans-serif;
					font-weight: 400;
					font-size: 14px;
					letter-spacing: 0.03em;
					cursor: pointer;
					border: none;
					transition: all 0.3s ease-in-out 0s;
					height: 50px;
					background-position: 75px 10px;
					background-size: 30px;

					&:after {
						content: "";
						text-align: center;
						text-transform: capitalize;
						font-family: "Poppins", sans-serif;
						font-weight: 400;
						font-size: 16px;
						letter-spacing: 0.03em;
						display: block;
						line-height: 3.1;
						font-style: normal;
						color: #fff;
					}
				}

				.theChampFacebookLoginSvg:after {
					content: "Log in with Facebook";
				}

				.theChampGoogleLoginSvg:after {
					content: "Log in with Gmail";
				}
			}
		}
	}

	&.large-popup {
		.popup-inner {
			max-width: 950px;
			padding: 20px;
		}
	}

	&.sign-popup {
		.popup-inner {
			max-width: 890px;
			padding: 0;

			.sign-popup-cover {
				display: flex;

				.left-area,
				.right-area {
					display: block;
				}

				.right-area {
					width: 390px;
					@include bg-cover;
					box-shadow: -10px 0 20px rgba(0, 0, 0, 0.08);
				}

				.left-area {
					width: calc(100% - 390px);
					padding: 45px;
					background: url("../images/pattren-img.png");
					text-align: left;

					p {
						font-size: 14px;
						color: #b1b1b1;
						margin: 0;

						a {
							color: #b1b1b1;

							&:hover {
								color: $primary-color;
							}
						}
					}

					.sign-tab-links {
						display: block;
						margin-bottom: 20px;

						ul {
							margin: 0;
							padding: 0;

							li {
								display: inline-block;
								position: relative;
								padding-right: 20px;
								margin-right: 18px;

								&:after {
									content: "";
									position: absolute;
									top: 6px;
									bottom: 7px;
									width: 2px;
									background: #b1b1b1;
									right: 0;
								}

								&:last-child {
									&:after {
										display: none;
									}
								}

								a {
									text-transform: uppercase;
									position: relative;
									font-weight: 500;
									font-size: 18px;
									color: #b1b1b1;

									&:after {
										content: "";
										position: absolute;
										bottom: -1px;
										height: 2px;
										left: 0;
										right: 0;
										background: transparent;
									}
								}

								&.active {
									a {
										color: #000;

										&:after {
											background: $primary-color;
										}
									}
								}
							}
						}
					}

					.sign-form {
						p {
							font-size: 14px;

							a {
								color: #b1b1b1;

								&:hover {
									color: $primary-color;
								}
							}
						}
					}

					.or-text {
						text-align: center;
						position: relative;
						margin: 30px 0;

						&:before {
							content: "";
							position: absolute;
							top: 50%;
							background: rgba(177, 177, 177, 0.47);
							left: 0;
							right: 0;
							height: 1px;
						}

						span {
							position: relative;
							padding: 0 25px;
							background: rgba(253, 253, 253, 0.98);
							z-index: 10;
						}
					}

					.outer-links-bnt {
						.btn {
							width: 100%;
							margin-bottom: 15px;
							border-radius: 40px;
							line-height: 3.5;

							.fa {
								margin-right: 15px;
								display: inline-block;
								vertical-align: middle;
							}

							&.fb-btn {
								background: #3b5999;
								color: #fff;

								&:focus,
								&:hover {
									outline: none;
									box-shadow: none;
									background: #2f477b;
									color: #fff;
								}
							}

							&.google-btn {
								background: #ea4335;
								color: #fff;

								&:focus,
								&:hover {
									outline: none;
									box-shadow: none;
									background: #ae2f24;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}

	&.sign-popup.small-sign-popup {
		.popup-inner {
			max-width: 600px;

			.left-area {
				width: 100%;
			}
		}
	}
}

.popup-inner h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

.popup-inner p {
	font-size: 24px;
	font-weight: 400;
}

.popup-close {
	width: 34px;
	height: 34px;
	padding-top: 4px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	border-radius: 100%;
	background: #fff;
	border: solid 4px #808080;

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 11px;
		left: 5px;
		height: 4px;
		width: 16px;
		border-radius: 30px;
		background: #808080;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&:after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	&:hover {
		-webkit-transform: translate(50%, -50%) rotate(180deg);
		transform: translate(50%, -50%) rotate(180deg);
		background: #f00;
		text-decoration: none;
		border-color: #f00;
	}

	&:hover:after,
	&:hover:before {
		background: #fff;
	}
}

.k-icon.k-i-arrow-60-left,
.k-icon.k-i-arrow-60-right {
	font: 16px/1 FontAwesome;
}

.k-icon.k-i-arrow-60-left {
	&:before {
		content: "\f104";
	}
}

.k-icon.k-i-arrow-60-right {
	&:before {
		content: "\f105";
	}
}
