
/** RESET only css **/
* {
	margin: 0;
	padding: 0;
	&,
	&:after,
	&:before {
		@include box-sizing;
		font-kerning: none;
	}
}

label {
	font-weight: normal;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	@include appearance(none);
	background-clip: border-box;
	margin: 0;
	outline: 0;
	vertical-align: top;
	width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
	width: auto;
	height: auto;
}

input[type='checkbox'] {
	appearance: checkbox;
}

input[type='radio'] {
	appearance: radio;
	vertical-align: -1px;
}

select[multiple],
select[size],
textarea {
	height: auto;
}
// remove dropdown for IE10

select::-ms-expand {
	display: none;
}
//remove IE11 select element selected option state

select:focus::-ms-value {
	background-color: transparent;
	color: inherit;
}
//Allow only vertical resizing of textareas

textarea {
	resize: vertical;
}
//remove search controls

input[type='search']::-webkit-search-decoration {
	display: none;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
	color: $primary-color;
	text-decoration: none;
	@include transition;
	&:hover,
	&:focus {
		color: #3f3f3f;
		text-decoration: none;
	}
}

*:focus {
	outline: none !important;
}

img {
	max-width: 100%;
}

b,
strong {
	font-weight: bold;
}

em,
i {
	font-style:italic;
}

.clr {
	border: 0;
	clear: both;
	height: 0;
}

body,
html {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0;
}
h1, h2 {
	font-family: $alt-font;
}
 p + p {
	 margin-top: 20px;
 }
.inline {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.shown {
	display: inline-block;

	&.block {
		display: block;
	}
}

.hidden {
	display: none;
}

.relative {
	position: relative;
}

//Scrollbar styling for webkit
::-webkit-scrollbar {
	min-width: 4px;
	width: 0.15%;
	max-width: 4px;
	height: 3px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background: #171719;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	background: rgba(63, 174, 181,0.9);
}
// SVG reset
svg:not(:root) {
	height: 100%;
	width: 100%;
}



.thankyou-cover {
    position: relative;
    padding: 10% 0;
}

.thankyou-cover .container {
    position: relative;
    height: 100%;
}

.thankyou-cover .container .thankyou-inner {
    position: static;
    display: block;
}

.thankyou-cover .tick {
    display: block;
    margin: 0 auto 70px;
    width: 160px;
    height: 160px;
    color: #16bb16;
    text-align: center;
    font-size: 65px;
    line-height: 160px;
    border: solid 2px #16bb16;
    border-radius: 100%;
}

.thankyou-cover .thnkyou-message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}

.thankyou-cover .thnkyou-message p {
    margin: 0;
    font-size: 18px;
}
