// VARIABLES used

// Main fonts
$main-font: 'Poppins', sans-serif;
$alt-font: 'Poppins', sans-serif;

//Font Awesome
$FontAwesome : 'FontAwesome';

$base-font-size: 16;//Body font size

//Colors
$white: #fff;
$off-white: #fdfdfd;
$black: #000;
$extra-dark: #151515;
$grey: #707070;
$dark-grey: #333333;
$primary-color: #3faeb5;// Green color
$secondary-color: #ed64ec;//Pink color
$text-color: #000;
