html{
  height: 100%;
}
.dashboard {
 padding-bottom: 56px;
 min-height: calc(100% - 95px);
position: relative;
  header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    background: #fff;
    border-bottom: solid 2px #dedede;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.scrollHeader{
      border-color: #fff;
      box-shadow: 0px 0px 25px rgba(#000, 0.15);
      background-color: rgba(#fff,0.90);
    }

    .logo {
      display: inline-block;
      width: auto;
    }

    .user-profile {
      display: inline-block;

      .dropdown {
        .dropdown-menu {
          margin-top: 39px;
        }
      }

      .dropdown-toggle {
        font-size: em(15);
        color: #000;
        font-weight: 400;

        &::after {
          content: "\f0d7";
          width: auto;
          height: auto;
          margin: 0;
          border: none;
          font: normal normal normal 14px/1 FontAwesome;
          vertical-align: middle;
          position: relative;
          top: -1px;
          margin-left: 5px;
        }

        &:focus,
        &:hover {
          color: $primary-color;
        }
      }

      figure {
        margin: 0 10px 0 0;
        @include bg-cover;
        width: 53px;
        height: 53px;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  aside {
    position: fixed;
    top: 95px;
    left: 0;
    bottom: 0;
    background: $primary-color;
    padding: 40px 0;
    z-index: 10;
    width: 360px;

    @include breakpoint(desktop){
      width: 250px;
    };

    .mCSB_scrollTools {
      opacity: 0;
    }

    &:hover {
      .mCSB_scrollTools {
        opacity: 1;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;
        list-style: none;
        border-bottom: solid 1px #38979d;

        &:last-child {
          border-bottom: none;
        }

        a {
          display: block;
          padding: 12px 35px 12px 67px;
          position: relative;
          font-size: em(18);
          letter-spacing: 0.02em;
          text-transform: capitalize;
          color: #fff;
          background: transparent;
          @include breakpoint(desktop){
      			font-size: em(16);
      		};

          svg {
            fill: #fff;
            width: 18px;
            height: 18px;
            position: absolute;
            top: 50%;
            left: 35px;
            transform: translateY(-50%);

            &.DealIcon,
            &.DraftsIcon {
              width: 15px;
              height: 15px;
              left: 37px;
            }
          }

          &:focus,
          &:hover {
            background: #288a90;
            color: #fff;
          }
        }

        &.active {
          a {
            background: #288a90;
          }
        }
      }
    }
  }

  main {
    padding: 50px 60px;
    position: relative;
    margin-top: 95px;
    width: calc(100% - 360px);
    margin-left: 360px;

    @include breakpoint(desktop){
      width: calc(100% - 250px);
      margin-left: 250px;
      padding: 35px 40px;
    };

    h2 {
      font-size: em(25);
      color: #000;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      h4 {
        font-size: em(22);
        color: #000;
        letter-spacing: 0.02em;
        text-transform: capitalize;
      }
      h2{
        margin-bottom: 0;
      }
    }

    section {
      border: solid 1px #dbdbdb;
      padding: 30px;



      .edit-link {
        color: #000;

        .fa {
          color: $primary-color;
          @include transition;
          margin-right: 2px;
        }

        &:focus,
        &:hover {
          color: $secondary-color;

          .fa {
            color: $secondary-color;
          }
        }
      }

      .account-info-form-cover {
        .form-group {
          margin-bottom: 25px;

          &.live-search {
            .form-control {
              background: #fff url("../images/search-icon.png") no-repeat;
              background-position: 97% 50%;
              padding-right: 40px;
            }
          }

          &.my-checkbox-group {
            label span.my-custom-checkbox {
              border-radius: 2px;
              width: 16px;
              height: 16px;
              top: 4px;
            }
          }
        }
      }
    }

    .user-img {
      position: relative;
      text-align: center;
      margin-bottom: 15px;
      display: inline-block;

      .logoContainer {
        width: 121px;
        height: 121px;
        border-radius: 100%;
        border: solid 1px #e2e2e2;
        padding: 6px;
        position: relative;
        text-align: center;
        background: #fff;
        margin: 0 auto;

        figure {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          overflow: hidden;
          display: block;
          margin: 0 auto;
          position: relative;
        }

        img {
          width: 110%;
          height: 110%;
          max-width: initial;
          position: absolute;
          top: -100%;
          bottom: -100%;
          left: -100%;
          right: -100%;
          margin: auto;
          border-radius: 100%;
        }
      }

      .fileContainer {
        position: absolute;
        top: 3px;
        right: 14px;

        span {
          overflow: hidden;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
          width: 28px;
          height: 28px;
          background: #fff;
          border-radius: 100%;
          border: solid 1px #ccc;
          line-height: 26px;
          font-size: 11px;
          color: #ccc;
        }

        input[type="file"] {
          opacity: 0;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          position: absolute;
          cursor: pointer;
        }
      }

      h5 {
        font-size: em(18);
        color: #000;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        margin-top: 15px;
      }
    }

    table{
      table-layout: auto;
      border:solid 1px #dbdbdb;
      width: 100%;

      th, td{
        font-size: em(15);
        color: #000;
        padding: 12px 25px;
        font-weight: 400;
        @include breakpoint(desktop){
          padding: 8px 15px;
        };
      }
      th{
        font-weight: 500;
        background: #f5f5f5;
      }
      td{
        border-bottom: solid 1px #dbdbdb;
        @include breakpoint(desktop){
          font-size: em(14);
        };
        .table-links{
          color: #a2a2a2;
          margin-right: 15px;
          @include breakpoint(desktop){
            margin-right: 8px;
          };
          &:last-child{
            margin-right: 0;
          }
          &:hover{
            color: $secondary-color;
          }
        }

      }
      tr{
        &:last-child{
          td{
              border-bottom: none;

          }
        }
      }
      .blue-btn{
        background: #08a6c3;
      }
      .green-btn{
        background: #60c400;
      }
      .pink-btn{
        background: #fe195e;
      }
      .btn{
        color:#fff;
        line-height: 2.1;
        padding: 2px 25px;
        &:hover, &:focus{
          background: $secondary-color;
          color: #fff;
        }
      }

    }

    .nav.nav-tabs{
      margin-bottom: 30px;
      .nav-item{
        a.nav-link{
          text-transform: uppercase;
        }
      }
    }

    .draft-table{
      padding-right: 90px;
      @include breakpoint(desktop){
      padding-right: 0px;
      };
    }
  }

  footer{
    background: #333;
    padding:15px 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    p{
      margin: 0;
      color: #9f9f9f;
      font-size: em(14);
      a{
        color: #2ba2cc;
        &:hover, &:focus{
          color: $secondary-color;
        }
      }
    }
  }

.dashboard-popup-form {
  border:solid 1px #c1c1c1;
  padding: 45px;
  form{
    text-align: left;
    div[class="col-sm-3"]{
      label{
        padding-top: 8px;
      }
    }
  }
  .form-group{
    margin-bottom: 25px;
    p{
      font-size: 15px;
    }
    .form-control + p{
      display: flex;
      min-width: 54px;
    padding-left: 4px;
      align-self: center;
    }
    &.my-checkbox-group{
      div[class="col-sm-3"]{
        label{
          padding-top: 0px;
          padding-left: 0;
        }
      }
    }
    .form-control{
      &.datepicker{
        background:#fff url('../images/calender-icon.png') no-repeat;
        padding-left: 40px;
        background-position: 5% 50%;
      }
      &.timepicker{
        background:#fff url('../images/time-icon.png') no-repeat;
        padding-left: 40px;
        background-position: 8% 50%;
      }
    }
  }

  textarea.form-control{
    height: 102px;
    resize: none;
    padding-top: 10px;
  }

  .list-inline{
    margin: 0;
    padding: 0;
    text-align: left;
    li{
      display: inline-block;
      margin-right: 15px;
      vertical-align: top;
    }
  }
  .docs-datepicker-container {
    display: none;
    position: absolute;
    z-index: 999;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px #ccc;
    top: 100%;
    left: 0;
  }

  .form-control:focus + .docs-datepicker-container {
    display: block;
  }

  .user-img {
    input[type="file"] {
      opacity: 0;
      position: relative;
      z-index: 1;
    }

    .fileContainer {
      position: relative;
      height: 40px;
margin-bottom: 20px;

      span {
        position: absolute;
        top: 0;
        left: 0;
        background: #e8e8e8;
        font-size: 14px;
        color: #979797;
        padding: 0 20px;
        line-height: 2.8;
        box-shadow: -2px -2px 3px inset #c5c5c5;
      }
    }
    .logoContainer{
      text-align: left;
      figure{
        display: inline-block;
  max-width:200px;
      }
    }
  }
}

}
