/************* Footer *************/

footer {
  padding: 50px 0 0;
  border-top:solid 1px #d3d3d3;
  p{
    font-size: em(15);
    letter-spacing: 0.02em;
    line-height: 1.8;
  }

  .copyright{
    margin-top: 50px;
    background: $dark-grey;
    padding: 15px 0;
    text-align: center;
    p{
      font-size: em(15);
  		letter-spacing: 0.02em;
  		line-height: 1.8;
      color: #afafaf;
      a{
        color: $primary-color;
        text-decoration: underline;
        text-decoration-color: $primary-color;
        &:hover{
          color: #fff;
          text-decoration-color: transparent;
        }
      }
    }
  }


  %leftLine{
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    bottom: 0;
    width: 1px;
    background: #d3d3d3;

  }

.quick-nav, .footer-contact, .footer-social{
  padding-left: 50px;
  @include breakpoint(desktop){
    padding-left: 30px;
  };
  &::before{
    @extend %leftLine;
  }
}



  h4 {
    font-size: em(22);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: em(15);
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      width: 100%;
      margin-bottom: em(10);
      font-size: em(16);
      color: #000;
      letter-spacing: 0.02em;
      position: relative;

      a {
        color: #000;

        &:focus,
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .footer-contact {
    ul {
      li {
        padding-left: 20px;

        span {
          position: absolute;
          top: 0;
          left: 0;
          color: #999999;

          .fa-mobile {
            font-size: 22px;
            top: 1px;
            position: relative;
          }

          .fa-envelope-o {
            font-size: 13px;
            top: 0;
            position: relative;
          }
        }
      }
    }
  }

  .footer-social {
    ul {
      margin: 0 0 em(15);

      li {
        display: inline-block;
        width: auto;
        margin-right: em(10);

        a {
          display: block;
          width: 54px;
          height: 40px;
          border-radius: 30px;
          background: $primary-color;
          color: #fff;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          &:hover, &:focus{
            background: $secondary-color;
            color: #fff;
          }
        }
      }
    }
  }
}


.chat-area{
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 9999;
  opacity: 0.6;
  @include transition;
  &:hover{
    opacity: 1;
  }
}
